@import "compass/functions";

$factorioOrange: #FF7200;

* {
  margin: 0;
  padding: 0;

}

body {
	background-color: #262626;
	font-family: monospace;
	font-size: 14px;
	color:#C8C8C8;
	padding:30px;
}

.button{
	display:inline-block;

	&.small{
		width:  16px;
		height: 16px;
	}

	&.medium{
		width:  32px;
		height: 32px;
	}

	&.large{
		width:  64px;
		height: 64px;
	}

	.icon{
		position: absolute;
		width: inherit;
		height: inherit;

		&.bg{
			&.server{
				background-image: url('./img/server.svg');
			}
			&.server-dark{
				background-image: url('./img/server-dark.svg');
			}
			&.client{
				background-image: url('./img/client.svg');
			}
			&.client-dark{
				background-image: url('./img/client-dark.svg');
			}
			&.file{
				background-image: url('./img/file.svg');
			}
			&.file-dark{
				background-image: url('./img/file-dark.svg');
			}
		}
		&.fg{
			&.add{
				background-image: url('./img/add.svg');
			}
			&.error{
				background-image: url('./img/error.svg'); //maby change to factorio icon
			}
			&.cross{
				background-image: url('./img/cross.svg');
			}
			&.cross-dark{
				background-image: url('./img/cross-dark.svg');
			}
			&.checkmark{
				background-image: url('./img/checkmark.svg');
			}
			&.waiting{
				background-image: url('./img/waiting.svg');
			}
			&.browse{
				background-image: url('./img/browse.svg');
			}
			&.edit{
				background-image: url('./img/edit.svg');
			}
			&.upload{
				background-image: url('./img/upload.svg');
			}
			&.download{
				background-image: url('./img/download.svg');
			}
			&.send-dark{
				background-image: url('./img/send-dark.svg');
			}

			&.play{
				background-image: url('./img/play.svg');
			}
			&.pause{
				background-image: url('./img/pause.svg');
			}
			&.stop{
				background-image: url('./img/stop.svg');
			}


		}
	}
}

.inline-block{
	display: inline-block;
}


.inline-grid{
	display: inline-grid;
}

.server{
	margin-bottom: 30px;

	.header{
		padding: 15px;

		background-color: #FF9F1C;
		border-top: 2px solid #862402;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		border-bottom: 1px solid #862402;
		color: #241A10;
		box-shadow: inset 0px 6px 22px -5px rgba(134,36,2,1);

		.wrapper{
			display:inline-block;
		}

		h1, h3, h5{
			color: #241A10;
			display: inline-block;
			text-transform: uppercase;
		}

		.info{
			float: left;
			text-align: right;

			h1{
				font-size: 32px;
			}

			h3{
				margin-bottom: 0px;
				font-weight: 200;
			}

			.button{
				transform: translateY(3px);
				width: 23px;
				height: 23px;
			}
		}

		.break-line{
			height: 78px;
			// display: inline-block;
			float: left;
			border-right: 2px solid black;
			margin-left: 10px;
			margin-right: 10px;
		}

		.files{
			float:left;
			display: inline-block;
			margin-top: 13px;

			h5{
				float:left;
				margin-bottom: 5px;
			}

			.buttons{
				float:right;
				margin-left:15px;
			}
		}

		.controls{
			display: inline-block;
			float:left;
			margin-top: 10px;
			margin-left: 5px
		}

		.stats{
			float: left;
			margin-top: 10px;
		}

		.endgame{
			float:left;
			margin-top: 30px;
		}
	}

	.footer{
		min-height: 20px;
		width: 100%;
		display: block;
		border-top: 4px solid #241A10;
		border-bottom: 1px solid #444444;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		background-color: #303030;
		background-position: -55px -92px;
		background-repeat: repeat-x;
		box-shadow: inset 0px 3px 13px 1px rgba(134,36,2,0.33), 0px 4px 8px 0px rgba(17,17,17,1);;

		.lua-editor{
			padding: 15px;

			.editor{
				display: inline-block;
				width: calc(50% - 40px);
				height: 200px;
				margin-bottom: 30px;
				float: left;
			}

			.buttons{
				float:left;
				margin-left: 15px;
				margin-top: 60px;

				.button{
					display:block;
					padding-bottom: 15px;
				}
			}

			.console{
				display: inline-block;
				width: calc(50% - 40px);
				height: 200px;
				margin-bottom: 30px;
				margin-left: 15px;
				background-color: black;
				float: left;
			}
		}

		.json-editor{
			padding: 15px;

			.editor{

				display: inline-block;
				width: calc(100% - 30px);
				height: 200px;
				margin: 15px;
				float: left;
				background-color: rgba(255,0,0,0.2)
			}
		}

	}
}



.empty{
	color:$factorioOrange;
	display: inline-block;
	padding: 30px;
	font-size: 20px;

	background-color: #FF9F1C;
	border-bottom: 2px solid #862402;
	border-radius: 8px;
	border-top: 1px solid #862402;
	color: #241A10;
	box-shadow: inset 0px 6px 22px -5px rgba(134,36,2,1), 0px 4px 8px 0px rgba(17,17,17,1);
	text-align: center;
}

.wrapper{
			display:grid;
		}




